{% extends 'main_page/base.html' %}

{% block content %}
    <h1>О нашей школе</h1>
    <p>BrainFunk - это онлайн-платформа для обучения Vibe Coding Pro Level Senior программированию, основанная в 2077 году.</p>
    <p>Наша миссия - клоунизировать Марс</p>
    
    <h2 class="mt-4">Наша команда</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Сычёв Сыч Сычевски</h5>
                    <p class="card-text">Основатель школы горного програмирования, Senior-Pomidor</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">ААЕ</h5>
                    <p class="card-text">Главный преподаватель, Nervouse-Clownstack Developer</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">ББоби-Боб мистер Боб</h5>
                    <p class="card-text">Хз что он делает. Навероне просто так вакансию создали</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}